#main{
    height: 300px;
    width: 330px;
    background-color:green;
    position:relative;
    margin-left:450px;
    margin-top:50px;
}
table{
    width: 300;
    height: 270;
    margin-left:20px;
    border-spacing: 10px;  
}
td{
    border:2px solid black; 
    background-color:red; 
    padding-left:20px;
    /* border-collapse: collapse; */
}
